body, html {
  height: 100%;
  width: 100%;
  display: flex;
}
#side{
    display: flex;
    background-color: #ffb770;
    flex-direction: column;
    flex-basis: 20%;
}
#top{
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
#mid{
    justify-content: space-around;
}
#bot{
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
}
#map {
    display: flex;
    height: 100%;
    width: 100%;
    order: 1;
    flex-basis: 80%;
}