@import "@material/fab/mdc-fab";

body, html {
  height: 100%;
  width: 100%;
  display: flex;
}
#panelControl{
    display;
    z-index: 2;
    flex-direction: row;
}

#side{
    display: flex;
    background-color: #ffb770;
    flex-direction: column;
    height: 100%;
    z-index: 2;
    flex-basis: 20%;
}
#top{
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
#mid{
    justify-content: space-around;
}
#bot{
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
}
#map {
    position: absolute;
    height: 100%;
    width: 100%;
    flex-basis: 100%;
}
#boton{
    float:left;
    margin:5px;
}
#buscaUDH{
    margin:5px;
}
